doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap-2.3.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap-2.3.1/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    //if lt IE 9
        script(src="http://html5shim.googlecode.com/svn/trunk/html5.js", language="text/javascript")
    script(src="/bootstrap-2.3.1/js/bootstrap.min.js")
  body
    block content